@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    color: #FC86AA !important;
    font-family: 'Roboto', sans-serif;
    background-color: #D8DCD6;

}

/* UYE GIRISI*/
.uyegiris{
    height: 20px;
    width: 100%;
    display: block;
    background-color: #FC86AA;

}
.uyegiris a{
    color: #000133;
}
#uluye{

    list-style-type: none;
    display: flex;
    justify-content: right;
}

#uluye li{
    text-align: center;
    width: 10%;
}

/* NAVBAR*/

.navbar-custom {
    background-color: #FC86AA;
}
.navbar-custom a{
    color: #000133;
}

 .flex{
     display: flex;
     display: inline;
 }

button {
    background-color: #FC86AA !important;

}
a{
    color: midnightblue !important;
}
 /* UST MENU */
 .ustMenu{

     height: 50px;
     text-align:center;
     background-color: #000133;
     padding:0.5%;
 }
 .logo{
     width: 10%;
     float: left;
     background-color: #000133;

 }
 .arama{
     width: 70%;
     float: left;
     background-color: #000133;

 }
 .sepet{
     width: 20%;
     float: right;
     background-color: #000133;

 }


/*CAREOUSEL*/



/*Reklam_kategori*/
.kategori{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.Reklam_kategori{
    display: block;
}
.kategori , .img{
    display: inline-block;
}


.kategori ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.kategori li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.kategori li a:hover {
    background-color: #555;
    color: white;
}

